*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    text-align: center;
}

.typewriter_effect {
    position: relative;
    font-family: monospace;
    font-style: 24px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 5s steps(50, end) forwards;
}

.effect__container {
    display: inline-block;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.typewriter_effect::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 3px;
    right: -5px;
    top: 0;
    background-color: #fff;
    animation: cursor-effect 0.8s infinite;
}

@keyframes cursor-effect {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}